h1 {
    text-align: center;
}

#container {
    width: 40%;
    height: 430px;
    background-color: plum;
    margin-left: auto;
    margin-right: auto;
}

#valueField {
    border: 2px solid;
    font-size: 80px;
    text-align: right;
    vertical-align: middle;
    height: 100px;
    margin: 0px 0px 0px 0px;
}

table {
    vertical-align: top;
}

button {
    font-size: 60px;
    width: 130px;
}

#buttonEqual {
    width: 265px;
}